.purchases {
  min-height: 450px;
}
.purchases__table {
  text-align: left;
  /*table-layout: fixed;*/
}
.purchases__titlecol {
  /*width: 65%;*/
}
.purchases__costcol {
  /*width: 12%;*/
}
.purchases__datecol {
  /*width: 40%;*/
  overflow: hidden;
  /*white-space: nowrap;*/
  white-space: pre-line;
}
.purchases__table tr {
  border-bottom: 1px solid #ddd;
}
.purchases__table td {
/**/
}
.purchases__item {
  font: 14px monospace;
}
.purchases__category {
  font: italic 0.8em Tahoma, sans-serif;
  color: #339;
  margin-left: 10px;
}
.purchases__deleted {
  color: red;
  font-weight: bolder;
}
.purchases__undo {
  float: right;
}
