.categories {
  position: relative;
}
.categories__list {
  background-color: #f3f3f3;
  padding: 5px;
  overflow: auto;
  max-height: 490px;
  min-height: 280px;
}
/*.categories__list > ul {
}*/
.categories__list ul {
  margin-left: 10px;
}
.categories__list li {
  margin: 4px 8px;
  /*list-style: square;*/
  /*display: table-row;*/
  /*cursor: pointer;*/
}
.categories__list span {
  color: green;
  padding: 4px 10px;
  white-space: pre;
  cursor: pointer;
}
.categories__list a:active {
  background-color: #cdc;
}

.categories__menu {
  position: absolute;
  width: 240px;
  /*background-color: whitesmoke;*/
  background-color: #eee;
  padding: 25px 10px 10px;
  border: 1px solid #ccc;
}

/*.categories__menu form {
  margin-bottom: 20px;
}*/
