.app {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden;
}
.app__title {
  border-bottom: 1px solid #ddd;
}
.app__admin-panel, .app__main-panel {
  /*background-color: #eee;*/
  /*border: 1px solid #ddd;*/
  /*padding: 0 10px 10px;*/
}
.app__main-panel {
  border-style: solid;
  border-color: #ddd;
  border-width: 0 0 0 1px;
  padding-left: 25px;
}

/* forms */
.flex {
  display: flex;
  /*padding-bottom: 5px;*/
  /*border-bottom: 1px solid #bbb;*/
  /*margin-bottom: 10px;*/
}
[type=checkbox] {
  position: relative;
  top: 2px;
  left: -4px;
}
[type=text], [type=number] {
  height: 22px;
  padding: 0 6px;
  border: 1px solid #aaa;
  border-radius: 3px;
  width: 100%;
}

table .sm-btn {
  text-align: right;
  width: 32px;
}

.form-control-del-btn {
  width: 100%;
  color: red;
  font-weight: bold;
}
.form-control-sm-btn {
  width: 22px;
}
/* end of forms */

@media screen and (max-width: 639px) {

  .app__admin-panel, .app__main-panel {
    float: none;
    width: auto;
  }
  .app__main-panel {
    border-width: 1px 0 0 0;
    padding-left: 0;
  }

  .admin-panel__aside, .admin-panel__list, .admin-panel__list li {
    display: inline-block;

    /*float: left;*/
  }

  .admin-panel__aside {
    width: 30%;
  }

  .admin-panel__list {
    width: 70%;
  }

}
